<h1 class="text-balance text-3xl font-bold tracking-tight">your feed</h1>

<%= form_with(model: Post.new, local: true, id: "post-form") do |form| %>
    <%= form.label :content, "what's on your mind?" %>
    <%= form.text_area :content, id: "post_content" %>
    <%= form.submit "post" %>
<% end %>

<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div>
      <p><strong><%= post.user.email %></strong>: <%= post.content %></p>
    </div>
  <% end %>
<% else %>
  <p>No posts available.</p>
<% end %>
