<h1 class="text-balance text-3xl font-bold tracking-tight">login</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder: "email@example.com", class: "rounded-md" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", required: true, placeholder: "your password", class: "rounded-md" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field flex items-center gap-x-2 text-sm">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "login", class: 'rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

