<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Waveme" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container max-w-96 mx-auto py-4 px-2 sm:px-0 flex flex-col gap-8">

<% if user_signed_in? %>
      <nav class="flex p-1 items-center gap-x-2 rounded-md text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10">
        <a href="/feed" class="px-3.5 py-1.5 hover:bg-gray-100 rounded-md text-sm font-semibold leading-6">feed</a>
        <a href="/profile" class="px-3.5 py-1.5 hover:bg-gray-100 rounded-md text-sm font-semibold leading-6">profile</a>
      </nav>
<% end %>
      <%= yield %>
    </div>
  </body>
</html>
